body {
  background: linear-gradient(
    to bottom,
    #ffb6d9,
    #ffd6e8,
    #fff3f8
  );

  font-family: Arial, sans-serif;

  text-align: center;

  color: #7a2d5a;

  margin: 0;

  padding: 30px;
}

h1 {
  font-size: 48px;

  color: #ff4fa3;

  text-shadow: 2px 2px white;
}

h2 {
  color: #ff69b4;

  margin-top: 40px;
}

p {
  font-size: 20px;

  max-width: 700px;

  margin: auto;

  padding: 10px;
}

button {

  background: #ff69b4;

  color: white;

  border: none;

  padding: 15px 30px;

  border-radius: 30px;

  font-size: 18px;

  cursor: pointer;

}

button:hover {

  background: #ff4fa3;

}
